/*Variables*/
:root {
    /*====| Color Palletes |====*/
    /*____Pallete 1____*/
    --P1_LightShade: #f9f9f7;
    --P1_LightAccent: #8a8679;
    --P1_MainShade: #7d8c9a;
    --P1_DarkShade: #887878;
    --P1_DarkAccent: #333940;
    /*____Pallete 2____*/
    --P2_LightShade: #f9f9f7;
    --P2_LightAccent: #8a8679;
    --P2_MainShade: #7d8c9a;
    --P2_DarkShade: #887878;
    --P2_DarkAccent: #333940;
    
    /*====| Hero Header Sizes |====*/
    --Primary_Hero_h1: 
}

.aboutSectHeader{
    text-decoration: underline;
    padding: .5em;
}

#BioBox{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: .5em;
    width: fit-content;
    margin: 0 auto;
}
#BioBox > .V_Line{
    background-color: var(--P1_DarkAccent);
}

#Bio_txt{
    max-width: 300px;
    min-width: 40vw;
}

#Bio_img{
    flex: 1;
    image-rendering:optimizeQuality;
    max-width: 350px;
    max-height: 500px;
    /*createsa border for this section*/
    border: 10px var(--P1_LightShade) double;
    border-radius:.5em 2em 1em 5.5em;
    margin: 0 auto;
}

#EduBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;  
}
#EduTitle{
    grid-column: 1/-1;
}
.eduInfo{
    box-shadow: black 3px 4px;
    color: var(--P1_LightShade);
    padding: 1em 2em;
    background-color: var(--P1_MainShade);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: .5em;
    content
}

.eduInfo > p, .eduInfo > div > p{
    color: black;
}

#NBHS{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
#NBHS > div{
    width: fit-content;
}

#DegreeBox{
    margin-top: .5em;
    display: flex;
    justify-content: space-evenly;
}
.degree{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5em;
    text-align: center;
}
