@import url('BaseStyleSheet.css');


.aboutSectHeader{
    text-decoration: underline;
}

#BioBox{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: .5em;
    width: fit-content;
    margin: 0 auto;
}
#BioBox > .V_Line{
    background-color: var(--P1_DarkAccent);
}

#Bio_txt{
    max-width: 300px;
    min-width: 40vw;
    padding-right: 5em;
}

#Bio_img{
    flex: 1;
    image-rendering:optimizeQuality;
    max-width: 350px;
    max-height: 500px;
    /*createsa border for this section*/
    border: 10px var(--P1_LightShade) double;
    border-radius:.5em 2em 1em 5.5em;
    margin: 0 auto;
}

#EduBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;  
}
#EduTitle{
    grid-column: 1/-1;
}
.eduInfo{
    border: .2em, var(--P2_LightShade), double;
    box-shadow: black 3px 4px;
    color: var(--P1_LightShade);
    padding: 1em 2em;
    background-color: var(--P1_MainShade);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.eduInfo > p, .eduInfo > div > p{
    color: black;
}

#NBHS{
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
#NBHS > div{
    width: fit-content;
}

#DegreeBox{
    margin-top: .5em;
    display: flex;
    justify-content: space-evenly;
}
.degree{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5em;
    text-align: center;
}
