/*Variables*/
:root {
    /*====| Color Palletes |====*/
    /*____Pallete 1____*/
    --P1_LightShade: #f9f9f7;
    --P1_LightAccent: #8a8679;
    --P1_MainShade: #7d8c9a;
    --P1_DarkShade: #887878;
    --P1_DarkAccent: #333940;
    /*____Pallete 2____*/
    --P2_LightShade: #f9f9f7;
    --P2_LightAccent: #8a8679;
    --P2_MainShade: #7d8c9a;
    --P2_DarkShade: #887878;
    --P2_DarkAccent: #333940;
    
    /*====| Ect. |====*/
}

/*GENERAL*/
#ContentSect{
    margin:0em 2em;
}

.H_Line{
    height: 3px;
    background-color: black;
}

/*BOARD*/
#BoardContent{
    margin-top: 3.5em;
}

#Degree{
    width: fit-content;
    padding-bottom: 1em;
    margin-top: 2em;
}

/*BOARD OBJECTIVES*/
#Objective{
    display: flex;
    padding-top: 1em;
    align-items: center;
}
#Objective > h3{
    padding-left: .5em;
    font-size: .9em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/*Grid of Example [for multiple example cards]*/
.Obj_Item{
    margin:.5em 0em 2em 0em;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}
/*OBJECTIVE CONTENT*/
.ProjectCard{
    padding: 2em;
    border-radius: 18px;
    background-color: var(--P1_MainShade);
    min-width: 300px;
}

.ObjNum{
background-color: var(--P1_MainShade);
color: var(--P1_LightShade);
border-radius: 50%;
width: fit-content;
padding: 0px 10px;
font-size: 32px;
text-align: center;
align-content: center;
}