/*Variables*/
:root {
    /*====| Color Palletes |====*/
    /*____Pallete 1____*/
    --P1_LightShade: #f9f9f7;
    --P1_LightAccent: #8a8679;
    --P1_MainShade: #7d8c9a;
    --P1_DarkShade: #887878;
    --P1_DarkAccent: #333940;
    /*____Pallete 2____*/
    --P2_LightShade: #f9f9f7;
    --P2_LightAccent: #8a8679;
    --P2_MainShade: #7d8c9a;
    --P2_DarkShade: #887878;
    --P2_DarkAccent: #333940;
}


/*===================HOME STYLES=========================*/
#SelfInfo{
    text-align: end;
    margin-top: 1em;
    padding-right: .5em;
}
#DisciplineList{
    text-align: end;
    padding-top: 2em;
    list-style: none;
}
.Discipline{
    font-size: .5em;
    padding-bottom: .5em;
}


/*styles for the image of myself*/
#SelfImg{
    /*changes the how the section is positioned*/
    position:relative;
    /*makes the background of this sectiopn into an image*/
    background-image: url("../Images/fancy\ me.png");
    /*changes the size of the background to cover the section*/
    background-size: cover;
    /*gives the section a top margin*/
    margin-top: 20px;
    /*gives the section a left margin*/
    margin-left: 10%;
    /*Adjusts the height of the section*/
    height: 500px;
    /*createsa border for this section*/
    border: 10px var(--P1_LightShade) double;
}

/*styles for the heade 1 text inside the container with the image of myself*/
#SelfImg h1 {
    /*changes the how the section is positioned*/
    position:absolute;
    /*adjusts the bottom position of this section*/
    bottom:0px;
    /*adjusts the right position of this section*/
    right: 5px;
    /*Changes the color of the text in this section*/
    color:var(--P1_LightShade);
    /*gives text an outline around it*/
    -webkit-text-stroke: 1px var(--P1_DarkShade);
    /*changes the font size in this section*/
    font-size: 40px;
    /*Changes how bold the text is for this section*/
    font-weight:bolder;
}

/*Styles for the container holding my information*/
#selfInfo{
    /*changes the how the section is positioned*/
    position:relative;
    /*gives the section padding*/
    padding: 5%;
}