/*Variables*/
:root {
    /*====| Color Palletes |====*/
    /*____Pallete 1____*/
    --P1_LightShade: #f9f9f7;
    --P1_LightAccent: #8a8679;
    --P1_MainShade: #7d8c9a;
    --P1_DarkShade: #887878;
    --P1_DarkAccent: #333940;
    /*____Pallete 2____*/
    --P2_LightShade: #f9f9f7;
    --P2_LightAccent: #8a8679;
    --P2_MainShade: #7d8c9a;
    --P2_DarkShade: #887878;
    --P2_DarkAccent: #333940;
}

#ContentSect{
    padding-top: 1em;
}

#HeroSect{
    padding: 0px;
}
/*styles for the header 1 text inside the container with the image of myself*/
#Right_Hero{
    padding: 8vh;
    padding-right: 5vw;
    padding-bottom: .2em;

    font-size: 8vh;
    
    align-content: center;
    text-align:right;
}

/*Styles for the container holding my information*/
#Left_Hero {
    padding: 8vh;
    padding-bottom: .2em;
    padding-right: 1em;

    background-color:rgba(0, 0, 0, .2);
    
    text-align: right;    
    font-size: 8vh;
}
#Left_Hero > .CTA_Box > a{
    min-width: 3em;
    font-size: 40%;
}
#DisciplineList{
    padding-top: 2em;
    list-style: none;
}
.Discipline{
    font-size: .5em;
    padding-bottom: .5em;
}

/*styles for the image of myself*/
#Portrait{
    image-rendering:optimizeQuality;
    /*Adjusts the height of the section*/
    width: 70%;
    /*createsa border for this section*/
    border: 10px var(--P1_LightShade) double;
    border-radius:.5em 2em 1em 5.5em;
} 
/*=====| TOP WORKS SECTION |=====*/
#WorkShowcaseBox{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0px 2em;
}
#TopWorkTitle{
    text-align: center;
    font-size: 8vw;
    color: var(--P1_LightAccent);
    text-shadow: 1px 1px 1px var(--P1_DarkAccent);
}
#TopWorks{
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}
.WorkCard {
    background-color: var(--P1_MainShade);

    border:.2em double var(--P1_LightShade);
    border-radius: .5em;
    
    padding: .2em;

    display: flex;
    flex-direction: column;

    gap: .2em;
}
#WC_Title{
    color: var(--P1_LightShade);
    column-gap: 1/-1;
}

.WC_Content{
    flex:1;
    background-color: var(--P1_LightShade);
    width: 95%;
    margin: 0 auto;
    border-radius: .3em;
}
.WC_Content > img{
    width: 100%;
    height: 70%;
    border-radius: .3em;
}
.WC_Content > p {
    text-align: left;
    padding: 0em 1em;
    margin-top: 1em;
}