/*Variables*/
:root {
    /*====| Color Palletes |====*/
    /*____Pallete 1____*/
    --P1_LightShade: #f9f9f7;
    --P1_LightAccent: #8a8679;
    --P1_MainShade: #7d8c9a;
    --P1_DarkShade: #887878;
    --P1_DarkAccent: #333940;
    /*____Pallete 2____*/
    --P2_LightShade: #f9f9f7;
    --P2_LightAccent: #8a8679;
    --P2_MainShade: #7d8c9a;
    --P2_DarkShade: #887878;
    --P2_DarkAccent: #333940;
    
    /*====| Hero Header Sizes |====*/
    --Primary_Hero_h1: 
}

/*====| Base Styles |====*/
*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{ 
    background-color: var(--P1_LightShade);
}

footer{
    background-color: var(--P1_DarkAccent);
    color: var(--P1_LightShade);
    text-align: center;
    padding: .7em;
}

.V_Line{
    width: 3px;
    background-color: var(--P1_LightShade);
}
.H_Line{
    height: 3px;
    background-color: var(--P1_LightShade);
}

/*CALL TO ACTION BUTTONS*/
.CalltoAction_Dark{
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.0);
    color: var(--P1_LightShade);
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: .6em 1em;
    border: 1.5px solid var(--P1_DarkAccent);
    color: var(--P1_DarkAccent);
    border-radius: .2em .8em .2em .8em;
}

.CalltoAction_Light{
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.0);
    color: var(--P1_LightShade);
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: .6em 1em;
    border: 1.5px solid var(--P1_LightShade);
    color: var(--P1_LightShade);
    border-radius: .2em .8em .2em .8em;
}

.CalltoAction_Dark:hover{
    background-color:var(--P1_DarkShade);
}

.CalltoAction_Light:hover{
    background-color: var(--P1_MainShade);
}

/*___Nav Bar___*/
nav{
    width: 100%;
    padding: .5em;
    background-color: var(--P1_DarkAccent);
    display: flex;
    position:fixed;
    z-index: 99;

}
nav ul{
    
    list-style: none;
    display: flex;
}
.Nav-Item {
    margin: 0 15px;
}
.Nav-Item a{
    color: var(--P1_LightShade); 
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}
.Nav-Item a:hover {
    background-color: var(--P1_DarkShade);
    border-radius: 7px;
}

/*___Hero Section___*/
#HeroSect{
    background-color: var(--P1_DarkAccent);
    color: var(--P1_LightShade);
    text-align: center;
    font-size: 3rem;
    padding: 1em;
}
.PrimaryHero{
    font-size: 2em;
}
#Sub_Hero{
    font-size: 1em;
}

/*___Content Section___*/
#ContentSect{
    background-color: var(--P1_LightShade);
    padding: 2em;
}