@import "BaseStyleSheet.css";

#ContentSect > div{
    padding: 2em 0px;
}

#OverviewDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2em;
    justify-self: center;
    flex-wrap: wrap;
}

#OverviewDiv > iframe{
    min-width: 500px;
    height: 45vw;
    max-height: 400px;
    border: 3px double var(--P1_MainShade); /* Example of using a variable */
    border-radius: 5px;
}

#LogsDiv{
    display: flex;
    min-width: 336px;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    background-color: var(--P1_LightShade); /* Example of using a variable */
}
